.delete-category-btn {
    background-color: transparent;
    border: none;
    color: gray; /* Colore nero per la X */
    font-size: 18px; /* Dimensione della X */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    outline: none;
  }
  
  .delete-category-btn:hover {
    background-color: transparent;
  }
  
  .delete-category-btn:after {
    content: '';
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1); /* Cerchio grigio chiaro */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
  }
  
  .delete-category-btn:hover:after {
    opacity: 1;
  }
  