/* EventDetailModal.css */
.modal-overlay {
    background: rgba(0, 0, 0, 0.5); /* Sfondo scuro semi-trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Assicurati che la modale sia sopra tutti gli altri contenuti */
}

.modal-content {
    max-width: 600px; /* Larghezza massima della modale */
    width: 90%; /* Larghezza della modale in percentuale */
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001; /* Assicurati che il contenuto della modale sia sopra l'overlay */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.edit {
    background-color: #007bff;
    color: white;
}

button.edit:hover {
    background-color: #0056b3;
}

button.delete {
    background-color: #dc3545;
    color: white;
}

button.delete:hover {
    background-color: #c82333;
}

button.cancel {
    background-color: #6c757d;
    color: white;
}

button.cancel:hover {
    background-color: #5a6268;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
