/* Navbar */
.navbar {
    position: fixed; /* Rende la navbar fissa */
    top: 0;
    width: 100%;
    height: 60px; /* Altezza della navbar */
    background-color: white; /* Colore di sfondo */
    color: gray; /* Colore delle icone */
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Allinea il contenuto tra i bordi */
    align-items: center;
    padding: 0 20px; /* Spaziatura laterale */
    box-shadow: none; /* Rimuovi ombra */
    transition: background-color 0.3s ease; /* Animazione del colore di sfondo */
}

.page-content {
    margin-top: 60px; /* Altezza della navbar */
    padding: 20px; /* Spaziatura interna */
    transition: margin-top 0.3s ease; /* Animazione per il cambiamento del margine */
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Sposta le icone a destra */
}

.nav-icon {
    color: gray; /* Colore delle icone */
    font-size: 24px; /* Dimensione delle icone */
    margin: 0 10px; /* Spaziatura tra le icone */
    text-decoration: none; /* Rimuovi sottolineatura */
}

.nav-icon {
    color: gray; /* Colore delle icone */
    font-size: 24px; /* Dimensione delle icone */
    margin: 0 10px; /* Spaziatura tra le icone */
    text-decoration: none; /* Rimuovi sottolineatura */
}

.nav-icon i {
    font-size: 24px; /* Dimensione icona Font Awesome */
}

/* Nascondi le icone in mobile */
@media (max-width: 768px) {

    .navbar-icons {
        display: none; /* Nascondi le icone su mobile */
    }
}

.navbar-toggle {
    display: none; /* Nascondi il pulsante sul desktop */
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Stili per il menu a tendina */
.navbar-menu {
    position: absolute;
    top: 60px; /* Posizionamento sotto la navbar */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparente */
    display: none; /* Nascondi per impostazione predefinita */
}

.navbar-menu.open {
    display: block; /* Mostra il menu quando è aperto */
}

.navbar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu ul li {
    padding: 15px;
    text-align: center;
}

.navbar-menu ul li a {
    color: gray; /* Colore del testo */
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu ul li a:hover {
    background-color: rgba(100, 100, 100, 0.2); /* Effetto hover */
}

/* Media Queries per dispositivi mobili */
@media (max-width: 768px) {
    .navbar {
        height: 40px;
    }

    .navbar-toggle {
        display: block; /* Mostra il pulsante sul mobile */
    }

    .navbar-menu {
        display: none; /* Nascondi il menu per impostazione predefinita */
    }

    .navbar-menu.open {
        display: block; /* Mostra il menu quando è aperto */
    }
}

