.add-note-btn {
    background-color: transparent;
    border: none;
    color: gray; 
    font-size: 36px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    outline: none;
  }
  
  .add-note-btn:hover {
    background-color: transparent;
  }
  
  .add-note-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
  }
  
  .add-note-btn:hover:after {
    opacity: 1;
  }
  
  .note-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
}

.note-list .card {
    flex: 1 1 calc(33.33% - 1rem); 
    min-width: 250px; 
}

@media (max-width: 768px) {
    .note-list .card {
        flex: 1 1 calc(50% - 1rem); 
    }
}

@media (max-width: 480px) {
    .note-list .card {
        flex: 1 1 100%; 
    }
}
